        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top footer">
                <div class="col-md-4 d-flex align-items-center">
                    <span class="text-black">© 2024 Bloggers.com</span>
                </div>
                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="text-black" href="https://linkedin.com/in/himanshu342210">
                            <i class='bx bxl-linkedin'></i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-black" href="https://github.com/Himanshu3412">
                            <i class='bx bxl-github'></i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-black" href="https://www.instagram.com/__himanshukumar__/">
                            <i class='bx bxl-instagram-alt'></i>
                        </a>
                    </li>
                </ul>
            </footer>
        </div>
    </main>
</body>
</html>