<%- include("partials/header.ejs") %>

<div class="bg">
    <div class="container1">
        <div class="first">
            <h1 class="text-shadow">Welcome to Bloggers.com</h1>
            <p class="text-shadow">We believe in the power of shared experiences and diverse voices. 
                <br>Theodore Roosevelt said, 'Believe you can and you're halfway there.' Join us in creating, sharing, and inspiring.</p>
            <div class="btn-container">
                <button class="main-btn "><a href="/post">View Posts</a></button>
                <button class="main-btn "><a href="/create">Write Blog</a></button>
            </div>
        </div>
        <div class="second">
            <img src="/images/bg-main.jpeg" alt="Background Image" class="tilted-image">
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>